@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$white: #ffffff;
$black: #000000;
$primary1: #121d46;
$primary2: #88abc2;
$textCol: #1f1f1f;

$border-radius: 10px;

$main-font: "Poppins", sans-serif;